/* ----------------------------------
  02. ANIMATION STYLING
 ------------------------------------ */

 @keyframes left-to-right {
	0%{
		transform: translateX(0px);
	}
	50%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0px);
	}
}
@keyframes top-bottom {
	0%{
		transform: translateY(0px);
	}
	50%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(0px);
	}
}
@keyframes scaleOne {
	0% {
		transform: scale(0.7);
	    }
	    60% {
		    transform: scale(1.0);
	    }
	    100% {
		transform: scale(0.7);
	    }
}