@use '../utils' as *;

/* ---------------------------------------
  06. buttons css
 ----------------------------------------- */

 @mixin agency($color: #171718, $padding: 12px 24px) {
  display: inline-block;
  vertical-align: middle;
  border: none;
  outline: none !important;
  color: $color;
  font-family: $heading-font;
  padding: $padding;
  transition: 700ms;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
}

.agency-btn {
  @include agency;
  position: relative;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  font-size: 18px;
  line-height: 1.777777777777778;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 34px;
  background-color: #ffc727;
  transition: all 0.4s ease-in-out;
  &:hover{
    background-color: #00dadc;
  }
}