/* ----------------------------------
	25. CTA css
 ------------------------------------ */

 .gen-about-one{
        position: relative;
        z-index: 1;
        padding: 120px 0px 90px;
        @media (max-width:991px) {
                padding: 100px 0px 90px;
        }
        @media (max-width:767px) {
                padding: 80px 0px 80px;
        }
        &__left{
                margin-left: -125px;
                margin-right: 125px;
                position: relative;
                @media (max-width:1199px) {
                        margin-left: auto;
                        margin-right: auto;
                }
        }
        &__thumb{
                position: relative;
                z-index: 1;
                @media (max-width:1199px) and (min-width:992px) {
                        img{
                        object-fit: cover;
                        width: 100%;
                        }
                }

                @media (max-width:575px) {
                        img{
                        object-fit: cover;
                        width: 100%;
                        }
                }
        }
        &__shape{
                position: absolute;
                top: 5%;
                left: calc(100% - 40%);
                animation: top-bottom 4s ease-in-out infinite;
        }
        &__shape-two{
                position: absolute;
                top: 0;
                left: 5%;
                z-index: -1;
                animation: scaleOne 3s ease-in-out infinite;
                @media (max-width:575px) {
                        img{
                        object-fit: cover;
                        width: 100%;
                        }
                }
        }
        &__right{

        }
        &__content{

        }
        &__subtitle{
                font-size: 30px;
                letter-spacing: 6px;
                text-transform: uppercase;
                color: #6422db;
                font-weight: 500;
                margin-bottom: 29px;
                padding-bottom: 0;
                @media (max-width:575px) {
                        font-size: 20px;
                        letter-spacing: 3px;
                        line-height: 1.2;
                        margin-bottom: 10px;
                }
        }
        &__title{
                font-size: 70px;
                letter-spacing: -3px;
                line-height: 66px;
                color: #25234d;
                font-weight: bold;
                margin-bottom: 28px;
                padding-bottom: 0;
                @media (max-width:767px) {
                        font-size: 60px;
                        line-height: 1.2;
                }
                @media (max-width:575px) {
                        font-size: 50px;
                        line-height: 1.2;
                }
        }
        &__text{
                opacity: 0.812;
                font-size: 20px;
                line-height: 36px;
                color: #25234d;
                max-width: 540px;
                width: 100%;
                font-weight: 500;
                margin-bottom: 43px;
        }
        &__btn{
                font-size: 18px;
                line-height: 32px;
                text-transform: uppercase;
                color: #171718;
                font-weight: bold;
                padding: 19px 79px;
        }
        &__shape-three{
                position: absolute;
                right: -10%;
                top: 5%;
                animation: scaleOne 6s ease-in-out infinite;
                @media (max-width:767px) {
                      display: none;
                }
        }
 }