/* ----------------------------------
	29. Hero css
 ------------------------------------ */
 .gen-hero-one{
        position: relative;
        z-index: 1;
        padding: 160px 0px;
        &__bg{
                position: absolute;
                width: 100%;
                height: 100%;
                bottom: 0;
                left: 0;
                background-repeat: no-repeat;
                background-position: right bottom;
                background-size: cover;
                z-index: -1;
        }
        &__content{

        }
        &__title{
                font-size: 88px;
                letter-spacing: -4px;
                line-height: 79px;
                color:#fff;
                font-weight: bold;
                margin-bottom: 28px;
        }
        &__text{
                opacity: 0.800;
                font-size: 20px;
                line-height: 36px;
                color:#fff;
                max-width: 526px;
                margin-left: 0;
                font-weight: 500;
        }
        &__btn{
                background-color: #00dadc;
                font-weight: 500;
               &:hover{
                background-color: #ffc727;
               }
        }
        &__right{
                position: relative;
                z-index: 1;
                .gen-thumb__shape-one{
                        position: absolute;
                        top: 5%;
                        left: -5%;
                        animation: top-bottom 4s ease-in-out infinite;
                }
                .gen-thumb__shape-two{
                        position: absolute;
                        bottom: 20%;
                        left: -10%;
                        z-index: 1;
                        animation: scaleOne 7s ease-in-out infinite;
                }
                .gen-thumb__shape-three{
                        position: absolute;
                        top: 5%;
                        right: 0%;
                        animation: scaleOne 8s ease-in-out infinite;
                }
        }
        &__thumb{
                -webkit-mask-image: url(../img/Mask.png);
                mask-image: url(../img/Mask.png);
                -webkit-mask-repeat: no-repeat;
                mask-repeat: no-repeat;    
                mask-position: top right;
                margin-top: 20px;
                margin-right: -100px;
                margin-left: -50px;
                img{
                      width: 100%;
                      max-height: 800px;
                      height: 100%;
                      object-fit: cover;
                }
                position: relative;
                z-index: 1;
               
        }
       

        &__shape-one{
                position: absolute;
                top: 10%;
                left: 0;
                animation: top-bottom 4s ease-in-out infinite;
        }

        &__shape-two{
                position: absolute;
                bottom: -30%;
                left: -20%;
                animation: scaleOne 3s ease-in-out infinite;
        }
 }