@use '../utils' as *;

/* ------------------------------------------------------------------
	11. meanmenu css
-------------------------------------------------------------------- */
.main-menu {
	ul {
		line-height: 1;
		margin-bottom: 0;
		>li {
			display: inline-block;
			position: relative;
			line-height: 1;
			position: relative;
			>a {
				display: block;
				padding: 19px 0px;
				overflow: hidden;
				font-family: $heading-font;
				font-style: normal;
				text-align: center;
				text-transform: capitalize;
				color:$white;
				font-size: 19px;
				line-height: 32px;
			}
			&:hover {
				>a {
					color: #25234d;
				}
				>ul {
					opacity: 1;
					visibility: visible;
					transform: translateY(3px);
				}
			}
		}
	}
}

.main-menu__list >li+li{
	margin-left: 48px;
	@media (max-width:1199px) {
		margin-left: 30px;
	}
}