@use "../utils" as *;

/* ----------------------------------
	14. services css
 ------------------------------------ */
.gen-service-one{
	position: relative;
	z-index: 1;
	padding: 110px 0px 120px;
	padding-top: 0;
	@media (max-width:991px) {
		background-color:#f3f3f9 ;
	}
	@media (max-width:991px) {
                padding: 100px 0px 90px;
        }
        @media (max-width:767px) {
                padding: 80px 0px 80px;
        }
	&__bg{
		position: absolute;
		width: 100%;
		height: 100%;
		top: -200px;
		left: 0;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
		@media (max-width:991px) {
			display: none;
		}
	}
	&__left{
		margin-right: -10px;
	}
	&__content{

	}
	&__subtitle{
		font-size: 30px;
		letter-spacing: 6px;
		text-transform: uppercase;
		color: #6422db;
		font-weight: 500;
                margin-bottom: 29px;
                padding-bottom: 0;
		@media (max-width:575px) {
                        font-size: 20px;
                        letter-spacing: 3px;
                        line-height: 1.2;
			margin-bottom: 10px;
                }
	}
	&__title{
		font-size: 70px;
                letter-spacing: -3px;
                line-height: 66px;
                color: #25234d;
                font-weight: bold;
                margin-bottom: 28px;
                padding-bottom: 0;
		@media (max-width:991px) {
			br{
				display: none;
			}
                }
		@media (max-width:767px) {
                        font-size: 60px;
                        line-height: 1.2;
			br{
				display: none;
			}
                }
                @media (max-width:575px) {
                        font-size: 50px;
                        line-height: 1.2;
                }
	}
	&__text{
		opacity: 0.812;
                font-size: 20px;
                line-height: 36px;
                color: #25234d;
                max-width: 540px;
                width: 100%;
                font-weight: 500;
                margin-bottom: 43px;
	}
        &__btn{
                font-size: 18px;
                line-height: 32px;
                text-transform: uppercase;
                color: #171718;
                font-weight: bold;
                padding: 19px 79px;
        }

	&__feature{
		display: flex;
		align-items: center;
		gap: 50px;
		@media (max-width:991px) {
			margin-top: 0px;
			gap: 30px;
                }
		@media (max-width:575px) {
			flex-direction: column;
                }
	}

	&__list{
		margin-bottom: 0;
		display: flex;
		flex-direction: column;
		gap: 39px;
		margin-top: 160px;
		@media (max-width:991px) {
			margin-top: 0px;
			gap: 29px;
                }
		@media (max-width:575px) {
			flex-direction: column;
                }
	}

	&__list + &__list{
		margin-top: 0px;
	}

	&__item{
		position: relative;
		padding: 50px 30px 50px;
		border-radius: 5px;
		filter: drop-shadow(0px 30px 35px rgba(223,227,234,0.5));
		background-color: #ffffff;

		&__title{
			opacity: 0.788;
			font-size: 24px;
			color: #25234d;
			font-weight: bold;
			padding-bottom: 0;
			margin-bottom: 18px;
	
		}
	
		&__text{
			opacity: 0.812;
			font-size: 18px;
			line-height: 32px;
			color: #25234d;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}
	&__icon{
		margin-bottom: 32px;
	}
}


